<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Omega_alpha.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
	 <!--Database setting -->
	 <!-- Use LogIn with authorization to connect to the OMEGA database and commands Select, Insert, Delete and Update-->
	 <add key="DatabaseDataSource" value=""/>
	 <add key="DatabaseLogInName" value=""/>
	 <add key="DatabaseLogInPassword" value=""/>
	 <!--Email Verification Sender-->
	 <!-- Email send from witch you revive verification code, can be same as one used for registration-->
	 <add key="RegistrationEmailSenderEmail" value=""/>
	 <add key="RegistrationEmailSenderPassword" value=""/>
	 <!-- Smtp information about e-mail service-->
	 <add key="SmtpEmail" value=""/>
	 <add key="SmtpPort" value=""/>
</appSettings>
 <userSettings>
  <Omega_alpha.Properties.User>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>False</value>
   </setting>
  </Omega_alpha.Properties.User>
 </userSettings>
</configuration>